.label {
  color: var(--white-text);
}

.input, .textarea {
  background-color: transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  border-radius: 0px;
}

.input:active, .input:focus, .textarea:active, .textarea:focus {
  border: none;
  border-bottom: 2px solid;
  box-shadow: none;
}

.is-button {
  align-items: center;
  background-image: linear-gradient(to right top, rgb(34, 197, 94), rgb(202, 254, 0));
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 0.3em;
  max-width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  font-weight: bold;
  }
  
  .is-button:active,
  .is-button:hover {
  outline: 0;
  }
  
  .is-button span {
  background-color: var(--black-tile);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  }
  
  .is-button:hover span {
  background: none;
  }
  
  .is-button:active {
    background-image: linear-gradient(to right top, rgb(0, 163, 60), rgb(158, 220, 0));
    transform: scale(0.98);
  }
  
  /* Input container */
  .input-container {
    position: relative;
  }
  
  /* Input field */
  .input-field {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: white;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-image: linear-gradient(to right top, rgb(34, 197, 94), rgb(202, 254, 0));
    transition: all 0.5s ease;
  }
  
  .input-field:focus + .input-highlight {
    width: 100%;
  }
  
  textarea.input-field {
    max-height: 40em;
    min-height: 4.5em;
  }
  
  .label:not(:last-child) {
    margin-bottom: 0em;
  }
  
  .field:not(:last-child) {
    margin-bottom: 1rem;
  }


.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(89, 227, 34);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-image: linear-gradient(to right top, rgb(34, 197, 94), rgb(202, 254, 0));
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  border-color: transparent;
  border-width: 1px;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: var(--white-text);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.notification a:not(.button):not(.dropdown-item) {
  color: currentColor;
  text-decoration: none;
}