.tile.is-child.has-margin-right {
  margin-right: 1.25rem !important;
}

.linkedin:hover {
  background-color: #0a66c2;
}

.github:hover {
  color: #333;
  background-color: white;
}

.twitter:hover {
  background-color: #1da1f2;
}

.instagram:hover {
  background-color: #c13584;
}

.profilePic {
  padding-top: 2.5rem;
  padding-bottom: 0px;
  display: flex;
}

.columns.is-projects {
  margin: 0;
  height: 100%;
  align-items: center;
  padding-top: 0.1rem;
}

.column.is-project {
  padding: 0 0.5rem !important;
}

.form-content {
  min-height: 312px;
}

.message-sent {
  opacity: 0;
  background-color: var(--black-tile);
  min-height: inherit;
}

.form {
  opacity: 1;
}

@media screen and (max-width: 768px){
  .tile.is-child.has-margin-right.notification {
    margin-right: 0 !important;
    margin-bottom: 0.8rem !important;
  }

  .has-mobile-space {
    gap: 0.8rem;
  }

  .column.is-project {
    padding: 0.5rem 0.5rem !important;
  }
}
