.navbar-item {
    background: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--white-text);
    text-decoration: none !important;
    font-weight: bold;
}

.navbar-item:hover {
    background: linear-gradient(to right top, rgb(34, 197, 94), rgb(202, 254, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}