.card-titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

p.is-gray {
    color: hsl(0, 0%, 48%) !important
}

.divider-gray {
    height: 1px;
    background-color: hsl(0, 0%, 48%);
    margin-bottom: 1.5rem;
    margin: 2rem 0;
}

.divider-gray.is-last{
    margin-bottom: 0;
    background-color: transparent;
}

.is-name-card {
    transition: all .2s ease-in-out;
  }
  
.is-name-card:hover{
    transform: scale(1.1);
}